<p id="notice"><%= notice %></p>

<h1>スレッド一覧</h1>

<%= link_to 'スレッド新規作成', new_topic_path %>
<hr>

<table>

  <tbody>
    <% @topics.each_with_index do |topic, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <% if topic.deleted_at %>
          <td>削除されました</td>
        <% else %>
          <td><%= link_to topic.title, topic %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
